$background: #5aa9e6;
$background-rgba: rgba(24, 101, 160, 0.5);

$primary: #ff6392;
$primary-darker: #ff499e;

$secondary: #f9f9f9;
$secondary-darker: #999999;

$inactive: rgba(174, 174, 174, 0.371);

$text: #4a4e69;